@import '../variables.css';

.searchBox {
  width: 317px;
  padding: 20px 20px 30px 0;
  position: absolute;
  right: -25px;
  top: -85px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 10;
  background: url(http://www.silverpropertygroup.com/images/common/bg_action.png) no-repeat bottom;
}

.searchBox button {
  display: block;
  float: left;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #ededed;
  color: #5f5f5f;
  margin: 15px;
}

.searchBox h5 {
  padding-left: 5px;
  display: block;
  position: static;
  color: white;
  font-family: var(--font-family-header);
  text-decoration: underline;
  font-weight: 400;
}
