@import '../variables.css';

.searchBox {
  width: 317px;
  height: 85px;
  position: absolute;
  right: -25px;
  bottom: -15px;
  padding: 15px 0 20px 30px;
  z-index: 10;
  background: url(http://www.silverpropertygroup.com/images/common/bg_action.png) no-repeat bottom;
}
