@import '../../components/variables.css';

.root {
  margin: 0 100px;
  padding: 0 0 15px;
  background-clip: border-box;
  background-color: #fff;
}

/* Header */
.contactButton {
  font-family: var(--font-family-header);
  font-weight: 400;
}

/* SideBar */

.sidebar {
  padding-top: 15px;
}

.sidebar img {
  padding: 15px;
}

/* carousel */

.carousel {
  padding: 0;
}

.carousel img {
  min-width: 100%;
}

.header {
  font-size: 1.3em;
  font-family: var(--font-family-header);
  background: #00c4ff;
}

.header h1 {
  color: #fff;
}

.body p {
  font-size: 1.3em;
  font-family: var(--font-family-base);
}

.body li {
  font-family: var(--font-family-base);
  font-size: 1.3em;
  list-style-type: none;
}
