@import '../variables.css';

.slide {
  max-height: 350px;
  width: 100%;
  image-rendering: pixelated;
}

.ThumbnailBox {
  position: absolute;
  height: 60px;
  bottom: 10px;
  left: 23px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  display: -webkit-flex;
  display: flex;
}

.ThumbnailBox img,
.ThumbnailBox div img {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  align-items: baseline;
}

.slider {
  background-color: var(--brand-primary-color);
  padding-top: 15px;
  border-radius: 4px;
}

.slider div:nth-child(2) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.details p,
.details li,
.details h3 {
  color: var(--brand-primary-inverse-color);
}

.details h3 {
  font-family: var(--font-family-header);
}

.details p,
.details li,
.details button {
  font-family: var(--font-family-base);
}

.details li {
  list-style: none;
}

.details li,
.details ul,
.details ul {
  padding-left: 0;
}
